<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<bean name="DAOMessageImpl" class="hello.dao.DAOMessageImpl"/>
   	<bean name="Message" class="hello.beans.Message"/>
   	<bean name="ServiceMessageImpl" class="hello.service.ServiceMessageImpl"/>
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql;DATABASE_TO_UPPER=false//localhost:3306/thesisdb"/>
		<property name="username" value="root"/>
		<property name="password" value=""/>
	</bean>
	
	<context:component-scan base-package="service"/>
	
</beans>
